body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

/* Background */
body {
    background-image: url("../img/background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(3px);
    z-index: -1;
}

/* Main page */
.main {
    position: relative;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
    border: 3px solid #f1f1f1;
    color: rgb(255, 255, 255);
    text-align: center;
    width: 40%;
    margin: auto;
    margin-top: 2.6%;
    margin-bottom: 2.6%;
    flex-wrap: wrap;
}

.main h1 {
    font-size: 150%;
    margin: 5% 0px 10%;
}

.main h2 {
    font-size: 150%;
}

.main>.logo>img {
    width: 40%;
}

.main>.social {
    display: flex;
    justify-content: center;
}

.main>.social>a>img {
    width: 70%;
    margin: 2%;
}

/* Agendamento */
.agendar {
    background-color: rgba(0, 0, 0, 0.4);
    border: 3px solid #f1f1f1;
    color: white;
    width: 40%;
    height: max-content;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2.6%;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.agendar>h3 {
    font-size: 200%;
}

.agendar>h4 {
    margin-top: 0px;
    margin-bottom: 20px;
    font-size: 200%;
}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    margin: 0 auto;
    height: 100%;
    display: none;
}

.mySlides img {
    border-radius: 3%;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    margin-top: -30px;
    /* Adjust this value as needed to position the buttons vertically */
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev {
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.4);
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    font-weight: bold;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Center the dot container */
.dot-container {
    margin-left: auto;
    margin-right: auto;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 4px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: rgba(255, 255, 255, 0.8);
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/* Explicação das coisas */
.stuff {
    background-color: rgba(0, 0, 0, 0.4);
    border: 3px solid #f1f1f1;
    color: white;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 2.6%;
}

.stuff img {
    border-radius: 3%;
    width: 95%;
    margin: 10px 0px 20px 20px;
}
/* AURICULO */
.stuff>.auriculo>.auriculo-txt {
    font-weight: bold;
    margin-left: 20px;
}

.stuff>.auriculo>.auriculo-inf {
    font-weight: bold;
    margin: 15px 10px 0px 10px;
}

.auriculo-mais-inf {
    position: relative;
    overflow: hidden;
    height: 50px;
    transition: height 0.5s ease-out;
}

.show .auriculo-mais-inf {
    height: auto;
    transition: height 0.5s ease-in;
}

.auriculo-mais-info {
    background-color: rgba(0, 0, 0, 0.0);
    color: white;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 2.6%;
    max-height: 0;
    overflow: hidden;
    color: transparent;
    transition: max-height 0.5s, border-color 0.5s, background-color 0.5s, color 0.5s;
    border: 3px solid transparent;
}

.show .auriculo-mais-info {
    max-height: 500px;
    transition: max-height 0.5s ease-in, border-color 0.5s, background-color 0.5s, color 0.5s;
    border-color: #f1f1f1;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.4);
}

.auriculo-mais-info > p {
    margin-left: 20px;
    margin-right: 20px;
}

.stuff>.auriculo>.auriculo-mais-inf {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 100%;
    margin: 10px;
}

.stuff>.auriculo>.auriculo-mais-inf>input {
    color: white;
    font-weight: bold;
    width: 100%;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.6);
    border: none;
}

/* PILATES */
.stuff>.pilates>.pilates-txt {
    font-weight: bold;
    margin-left: 20px;
}

.stuff>.pilates>.pilates-inf {
    font-weight: bold;
    margin: 15px 10px 0px 10px;
}

.pilates-mais-inf {
    position: relative;
    overflow: hidden;
    height: 50px;
    transition: height 0.5s ease-out;
}

.show .pilates-mais-inf {
    height: auto;
    transition: height 0.5s ease-in;
}

.pilates-mais-info {
    background-color: rgba(0, 0, 0, 0.0);
    color: white;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 2.6%;
    max-height: 0;
    overflow: hidden;
    color: transparent;
    transition: max-height 0.8s ease-out, border-color 0.5s, background-color 0.5s, color 0.5s;
    border: 3px solid transparent;
}

.show .pilates-mais-info {
    max-height: 5000px;
    color: #fff;
    transition: max-height 1s ease-in, border-color 0.5s, background-color 0.5s, color 0.5s;
    border-color: #f1f1f1;
    background-color: rgba(0, 0, 0, 0.4);
}

.pilates-mais-info > p {
    margin-left: 20px;
    margin-right: 20px;
}

.stuff>.pilates>.pilates-mais-inf {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 100%;
    margin: 10px;
}

.stuff>.pilates>.pilates-mais-inf>input {
    color: white;
    font-weight: bold;
    width: 100%;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.6);
    border: none;
}

/* QUIRO */
.stuff>.quiro>.quiro-txt {
    font-weight: bold;
    margin-left: 20px;
}

.stuff>.quiro>.quiro-inf {
    font-weight: bold;
    margin: 15px 10px 0px 10px;
}

.quiro-mais-inf {
    position: relative;
    overflow: hidden;
    height: 50px;
    transition: height 0.5s ease-out;
}

.show .quiro-mais-inf {
    height: auto;
    transition: height 0.5s ease-in;
}

.quiro-mais-info {
    background-color: rgba(0, 0, 0, 0.0);
    color: white;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 2.6%;
    max-height: 0;
    overflow: hidden;
    color: transparent;
    transition: max-height 0.8s ease-out, border-color 0.5s, background-color 0.5s, color 0.5s;
    border: 3px solid transparent;
}

.show .quiro-mais-info {
    max-height: 5000px;
    color: #fff;
    transition: max-height 1s ease-in, border-color 0.5s, background-color 0.5s, color 0.5s;
    border-color: #f1f1f1;
    background-color: rgba(0, 0, 0, 0.4);
}

.quiro-mais-info > p {
    margin-left: 20px;
    margin-right: 20px;
}

.stuff>.quiro>.quiro-mais-inf {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 100%;
    margin: 10px;
}

.stuff>.quiro>.quiro-mais-inf>input {
    color: white;
    font-weight: bold;
    width: 100%;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.6);
    border: none;
}

/* FOOTER */
.footer {
    background-color: rgba(0, 0, 0, 0.4);
    border: 3px solid #f1f1f1;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-height: 40%;
}

.footer>.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 100%;
}

.footer>.logo>img {
    width: 50%;
    margin: 5px;
}

.footer>.socials,
.footer>.contato-contrato-crefito,
.footer>.horarios {
    flex-basis: calc(50% - 10px);
}

.footer>.socials>a {
    display: flex;
    align-items: center;
}

.footer>.socials>a>img {
    width: 10%;
    margin: 5px;
}

.footer>.socials>a>span {
    margin-left: 5px;
    text-decoration: none;
}

.footer>.socials>a {
    color: white;
    text-decoration: none;
}

.footer>.map>a {
    display: flex;
    align-items: center;
}

.footer>.map>a>img {
    width: 10%;
    margin: 5px;
}

.footer>.map>a {
    color: white;
    text-decoration: none;
}

.footer>.map>a>span {
    margin-left: 5px;
    display: flex;
    align-items: center;
}

.footer>.contato-contrato-crefito {
    margin-top: 50px;
    margin-bottom: 50px;
}

.footer>.contato-contrato-crefito>a {
    color: white;
    text-decoration: none;
}

.footer>.desenvolvido-por>p {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 100%;
}


/* PAGINA DO CONTRATO */
.contrato {
    position: relative;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
    border: 3px solid #f1f1f1;
    color: rgb(255, 255, 255);
    text-align: left;
    width: 80%;
    margin: auto;
    margin-top: 2.6%;
    margin-bottom: 2.6%;
}

.contrato>.logo>a {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 100%;
}

.contrato>.logo>a>img {
    width: 10%;
    margin-top: 3%;
}

.contrato>.contrato_texto>p {
    margin-left: 40px;
    margin-right: 40px;
}

.contrato>.contrato_texto>h1,
h2,
h3 {
    margin-left: 20px;
}

@media (max-width: 768px) {
    .main>.logo>img {
        width: 40%;
        margin: 5%;
    }
}

@media (max-width: 480px) {
    .main>.logo>img {
        width: 80%;
        margin: 10%;
    }
}

@media (max-width: 768px) {
    .stuff>.auriculo>.auriculo-img>img {
        width: 40%;
        margin: 5%;
    }
}

@media (max-width: 480px) {
    .stuff>.auriculo>.auriculo-img>img {
        width: 80%;
        margin: 10%;
    }
}

@media (max-width: 768px) {
    .stuff>.pilates>.pilates-img>img {
        width: 40%;
        margin: 5%;
    }
}

@media (max-width: 480px) {
    .stuff>.pilates>.pilates-img>img {
        width: 80%;
        margin: 10%;
    }
}

@media (max-width: 768px) {
    .stuff>.quiro>.quiro-img>img {
        width: 40%;
        margin: 5%;
    }
}

@media (max-width: 480px) {
    .stuff>.quiro>.quiro-img>img {
        width: 80%;
        margin: 10%;
    }
}